@BG: #2A2A2A;
.home-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .logo-header {
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            width: 2rem;
            height: 100%;
        }
        i{
            font-size:.5rem;
        }
        span{
            font-size:0.5rem;
            line-height: 1rem;
            margin-right: 0.5rem;
        }
    }
}